<template>
  <div class="container">
    <div class="container">
      <p>You can contact us {{ number }}</p>

      <h2>Email Contact is : {{email}}</h2>
    </div>
  </div>
</template>


<script>
export default {
  name: "Container",
  data: function() {
    return {
      number: "0337 4954704",
      email: "sshamoon83@gmail.com",
    };
  }
};
</script>
<style scoped>
.container {
  height: 400px;
  width: 600px;
  background-color: white;  
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  margin: auto;
  padding-top: 50px;
  text-align: center;
  background-color: teal;
}

</style>