<template>
  <div class="container">
    <h2>This is Home Page</h2>
  </div>
</template>

<script>
// @ is an alias to /src

export default {
  name: "Home"
};
</script>

<style scoped>
.container {
  margin-top:50px;
  background-color:aquamarine;
  height: 100vh;
  position: relative;
}
</style>
