<template>
  <div class="form" id="form">
    <h2>Signin to your account</h2>
    <hr />
    <form>
      <span>Email: </span>
      <input type="email" placeholder="Email" required v-model="email" />
      <br />
      <br />
      <span style="margin-left: -30px;">Password: </span>
      <input
        type="password"
        required
        placeholder="Password"
        v-model="password"
      />
      <br />
      <br />
      <button v-on:click="validate">Signin</button>
      <button v-on:click="reset">Reset</button>
    </form>
  </div>
</template>


<script>
export default {
  name: "Form",
  data: function() {
    return {
      name: "",
      email: "",
      password: null,
      repeatpassword: null
    };
  },
  methods: {
    validate: function() {
      if (this.password != this.repeatpassword) {
        alert("Password did not match! try again later! ");
      } else if (this.password == this.repeatpassword) {
        if (this.password == null) {
          if (this.repeatpassword == null) {
            console.log("AA");
          }
        }
        console.log(this.name);
        console.log(this.email);
        console.log(this.password);
        console.log(this.repeatpassword);
        alert("Will Login ");
      }
    },
    reset: function() {
      this.email = "";
      this.password = null;
    }
  }
};
</script>


<style scoped>
.form {
  height: 400px;
  width: 500px;
  background-color: white;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  margin: auto;
  padding-top: 50px;
  text-align: center;
  background-color: purple;
}

button {
  font-size: 15px;
  margin-top: 22px;
  margin-left: 20px;
}

button:hover {
  color: blue;
  background-color: white;
}
</style>